.detail_content{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

.detail_ul{
    list-style-type: none;
    border: dimgrey 1px dashed;
    color: black;
}

.detail_ul li{
    list-style-type: none;
    border: dimgrey 1px dashed;
}

.answer_div{
}

.author_div{
    text-align: right;
}

.huifu{
    width: 100%;
    height: 200px;
}

.form_butt{
    text-align: center;
}

#butt{
    width: 120px;
    height: 50px;
}
#my_head_left{
	font-size: 18px;
}

#my_head_right{
		font-size: 18px;

}