{% extends 'base.html' %}
{% block content %}
<div style="background-color:#b8daff;margin-left: 10%;margin-right: 10%;" >
 <h2 align="center">杂谈：我为什么开始写博客，我又不是什么大犇？</h2>
  <p>技术杂谈于 2011 年 3 月 14 日发布</p>
  <pre style="word-break:break-word;">
&nbsp;&nbsp;&nbsp;&nbsp;我写博客只是自己学习总结的一种方式
首先我很多遇见的问题都是在很多博客中找到解决方案的，我想我在学习路上积累的东西也可以做个总结，我写的博客很多就是自己的学习总结，方便以后自己查阅。刚开始并没有给别人看的意思，写的很随意，自己看得懂就行。但渐渐的发现我写的东西有人评论了，访问量多了一点，我就觉得还是有人认真看的，我还是认真点吧，然后就开始用md写了。
对，写博客就是我的一种学习方式吧

你写的又没什么技术含量，有什么好写的？
写博客不是神犇的特权，我也可以写。
我不会安装jdk，我就找别人的博客看，然后自己实战总结，也写一篇；我用python写了个小爬虫，也总结分享一下，等等。别人写过我就不能写一样的了吗？不，我写我遇见的坑点和遇见的问题，分享给和我遇见一样问题的人。
很多博客长篇大论，还不如一个能解决我问题的小博客有用

你写那么多博客，又没人看，写博客那有什么用？
我写博客不为别人，就是自己看，如果能对别人有帮助最好了，不在乎什么访问量点赞啥的。
没人看没事啊，我写博客是我自己收获知识，最大是受益者是自己。虽然没人看，但是还是会认真写的，说不定就帮助到他人了
虽然没人喝彩，但我依旧有自己的舞台

我很菜，写的博客被人喷
如果他说你写的有问题，而且还指出了问题所在，那就更正，并且感谢他。
如果他喷完你写的垃圾不说哪里有误，那他就是个**
真正的好心人，会指出你的错误，不会无脑喷的

博客要可以复现原型
博客中的代码尽量要可以运行，否则你就是纸上谈兵。
安装开发环境的教程要自己装成功过，才有资格发出来。
可能别人copy后因为各种原因有问题，但尽量减少这样的情况吧，因为能run的代码真的很重要.

此篇为转载博客，原文：https://blog.csdn.net/qq_40733911/article/details/94760047


								</pre>

</div>
{% endblock %}