{% extends 'base.html' %}
{% block content %}
<div style="background-color:#b8daff;margin-left: 10%;margin-right: 10%;" >
  <h2 align="center">智慧交通领域中的人工智能科技</h2>

									<div class="post-meta clearfix">
										<span class="date">25 Feb, 2013</span>
										<span class="category"><a href="#" title="View all posts in Server &amp; Database">Server &amp; Database</a></span>
										<span class="comments"><a href="#" title="Comment on Integrating WordPress with Your Website">3 Comments</a></span>
										<span class="like-count">66</span>
									</div>

  <pre style="word-break:break-word;">
      <h4 align="center">摘  要</h4>
      新世纪以来, 随着计算机科学技术的不断创新和发展, 全世界的步伐也开始从互联网时代迈向智能化时代。互联网的飞速发展给人类生活各个领域带来了巨大的变革, 大大提升了人们的生活品质。而以机器学习为核心的人工智能的引进更是颠覆传统观点的一次创世纪的创新, 是一个时代进步的体现。信息时代的来临、科学技术的持续发展,使得人工智能技术应时而生,并逐步渗透到社会多个领域与公众的生产生活中,对公众生活生产模式带来了巨大改变，尤其是在智慧交通领域获得了更加广泛的应用。

关键词：互联网、机器学习、人工智能、智慧交通

      1.人工智能的概念
人工智能是计算机科学的一个分支，它企图了解智能的实质，并生产出一种新的能以人类智能相似的方式做出反应的智能机器，该领域的研究包括机器人、语言识别、图像识别、自然语言处理和专家系统等。它是包括十分广泛的科学，它由不同的领域组成，如机器学习，计算机视觉等等，总的说来，人工智能研究的一个主要目标是使机器能够胜任一些通常需要人类智能才能完成的复杂工作。

      2.智慧交通领域中人工智能需要面临的问题
众所周知，城市交通是城市活动的重要组成部分，犹如人体的动脉，维系着整个城市的正常运转。交通作为现代城市的重要体现和标志 ，见证着每一个城市的历史与文明、发展与兴衰。城市交通不仅仅是一个市政工程问题或交通技术问题，而且是一个综合性的社会问题。然而，随着城市化进程的不断加快，我国的城市交通面临越来越大的压力，甚至一度成为亟待解决的民生问题。造成城市交通问题的原因众多，人工智能时代的到来给城市宏图带来诸多解决方案，但同时也要面料诸多问题。

      3.智慧交通领域中人工智能技术的应用
自动驾驶汽车也被叫做无人驾驶汽车，其是一项 借助计算机系统以达成无人驾驶目的的智能型汽车。 此类汽车具体经由智能路径规划、计算机视觉、定位等 技术一同组成，能确保计算机在无人操纵的情形下，自行操纵机动车辆，且对其安全予以维护。
世界上第一台无人驾驶汽车是卡内基梅隆大学开发的雪佛兰厢式货车Navlab 1，它有一台Wrap超级计算机，几台Sun 3和4工作站，陀螺仪，惯性导航系统以及卫星定位系统，此外还有几个英特尔386实时处理器，用于处理传感器信息和生成车辆运动指令。Navlab 1建成于1986年，但是因为受到软件的限制，当时最高速度仅为1.8公里/小时，直到80年代末期才能以最高速度32公里/小时的最高速度行驶。
2010年10月11日工程人员研发出一款无人驾驶的汽车，并已经在加州的街道上成功试验行驶。2014年12月中下旬，谷歌首示自动驾驶原型车成品且可全功能运行，谷歌是测试时间最长的公司，2009年至2015年，55辆谷歌自动驾驶汽车的道路测试总里程仅约130万英里（约合209万公里），其间共发生了11起小事故。
自动驾驶汽车的结构性能包括激光雷达、前置摄像头、左右轮传感器、前后雷达、主控电脑组成，它使用视频摄像头、雷达传感器，以及激光测距器来了解周围的交通状况，并通过一个详尽的地图（通过有人驾驶汽车采集的地图）对前方的道路进行导航。
科学家根据自动化水平的高低区分了四个无人驾驶的阶段：驾驶辅助、部分自动化、高度自动化、完全自动化。
1、驾驶辅助系统（DAS）：目的是为驾驶者提供协助，包括提供重要或有益的驾驶相关信息，以及在形式开始变得危急的时候发出明确而简洁的警告。如“车道偏离警告”（LDW）系统等。
2、部分自动化系统：在驾驶者收到警告却未能及时采取相应行动时能够自动进行干预的系统，如“自动紧急制动”（AEB）系统和“应急车道辅助”（ELA）系统等。
3、高度自动化系统：能够在或长或短的时间段内代替驾驶者承担操控车辆的职责，但是仍需驾驶者对驾驶活动进行监控的系统。
4、完全自动化系统：可无人驾驶车辆、允许车内所有乘员从事其他活动且无需进行监控的系统。这种自动化水平允许乘从事计算机工作、休息和睡眠以及其他娱乐等活动。
河南省郑州市在2019年5月17亮相了无人驾驶公交车，它是全球首条在开放道路运行的无人驾驶公交线路，经由中道东路-平安大道-中道西路-中道东路环线，路程全长约1.53KM。在中国移动5G网络的加持下，自动驾驶车辆的智能性大大加强。试乘路段上有一系列的行驶场景，如巡线行驶、自主避障、路口同行、车路协同、自主换道、精准进站等等。现在这种无人公交车在3个站点投放4辆5G自动驾驶公交车。
此类车辆又 能被区分成半自动与全自动驾驶两大类别。其间，前 者表示需具备人员对其控制，当然也存在部分自动功能，譬如自动停车、车道保持等; 而后者即无需人员参 与，完全可以自主操作，确保所有功能实现，能在相应层面规避人为失误或不合理的判断。最近几年以来，伴同人工智能技术的进一步发展，无人驾驶汽车持有量骤增。 就无人驾驶技术的运用而言，极为宽泛，已渗透到较多领域，譬如有轨电车、出租车等，且该技术能有效 处理老年群体、残疾人出行问题。要知道，无人驾驶汽 车不但可以大幅改善道路交通拥挤现象，且其驾驶模 式更为高效、节约能耗，并在相应层面可降低对自然环 境的污染。除此以外，此类汽车设定了紧急制动与自 主规避障碍等功能，能够对人为失误与不符常规的判 断进行排除，以最大程度避免道路交通安全事故发生。 但无人驾驶汽车的大力发展终究是离不开5G技术的加持，待到5G时代的全面展开，无人驾驶技术也将进入一个直线上升的时代。
								</pre>


</div>
{% endblock %}