{% extends 'base.html' %}
{% block content %}
<div style="background-color:#b8daff;margin-left: 10%;margin-right: 10%;" >
 <h2 align="center">聊聊中国的通信行业：从“七国八制”到“中华”脊梁</h2>

									<div class="post-meta clearfix">
										<span class="date">25 Feb, 2013</span>
										<span class="category"><a href="#" title="View all posts in Server &amp; Database">Server &amp; Database</a></span>
										<span class="comments"><a href="#" title="Comment on Integrating WordPress with Your Website">3 Comments</a></span>
										<span class="like-count">66</span>
									</div>

  <pre style="word-break:break-word;">
&nbsp;&nbsp;&nbsp;&nbsp;  								<p>本期文章和大家一起来聊一聊我曾经从事过的通信行业吧。最近各方面信息的泛滥，包括和华为的同学聊天，自己确实也感慨颇多。想想我自己本科主修通信工程，研究生再修信息与通信工程，从本科开始就学过通信方面的历史和专业课程，后来校招去通信公司后也接受了一些通信方面的文化和情怀的熏陶。嗯，聊聊吧！</p>
								<p>其实站在现在这个时间节点来看中国的通信行业，其实做的还真不差，最起码 <code>5G</code>时代是处于领跑状态。我们的通信行业经历了几十年的发展与变迁。很多人可能不太了解一路上以来的发展历程和一代代通信人追赶和跨越的故事，那这也是下文即将阐述的。</p>
								<hr>
								<h2 id="“七国八制”的时代"><a href="#“七国八制”的时代" class="headerlink" title="“七国八制”的时代"></a>“七国八制”的时代</h2>
								<p>要讲中国通信，最早当然也就是固话时代，也就是通信工程专业课课本上所说的程控交换机时代。因为这个时期，国内所用的所有通信设备都是依赖进口，毕竟关键的核心技术都掌控于美、欧及日本等发达国家之手。因此 20世纪 80年代，当时通信业流行的一个概念叫<strong>“七国八制”</strong>，也就是说我们市场上总共有来自七个国家的八种制式的机型或网络，分别是：日本的<strong>NEC</strong>和<strong>富士通</strong>、美国的<strong>朗讯</strong>、加拿大的<strong>北电</strong>、瑞典的<strong>爱立信</strong>、德国的<strong>西门子</strong>、比利时的<strong>BTM</strong> 以及法国的<strong>阿尔卡特</strong>，而中兴和华为则是到 80年代中后期才先后在深圳萌芽并成立的公司。</p>
								<p>在今天，我们的父母辈应该记忆犹新，在上个世纪八九十年代家里能装一部电话机是何等的有身份，因为仅装一个固话也需要几千上万元的费用，原因就在于当时所有通信设备全靠进口、高昂的安装成本和通信资费的情况下，拥有一部家庭固定电话是一件非常奢侈的事情。</p>
								<p>这个局面一直持续到1990年，我国第一部由中兴研发的数字交换机<code>ZX500</code>面世，才逐渐打破了西方的技术垄断与壁垒。</p>
								<p>那时候记得我校招入职后参加公司的培训，也听过<strong>一些好玩的事情</strong>。比如当时我们从人家买回来的一架通信设备上，一块铁板坏了需要更换，也需要向人家支出好几十美元。去国外投标，我们中方通信公司做了各种各样精美的PPT胶片来向客户宣讲我们中方通信公司所能提供的业务、技术以及服务，而人家爱立信的PPT胶片就一两页，那仅有的PPT胶片上展示了一张世界地图以及地图上插满了表示他们产品的小红旗…</p>
								<p>这就是那样一个我们的通信产业被瓜分的年代！</p>
								<hr>
								<h2 id="空白和跟随【1G-2G时代】"><a href="#空白和跟随【1G-2G时代】" class="headerlink" title="空白和跟随【1G/2G时代】"></a>空白和跟随【1G/2G时代】</h2>
								<p>所谓<code>1G</code>时代就是我们所说的“大哥大时代”，发生在80年代末90年代初。所谓的<code>1G</code>通信其实用的是模拟通信技术，且通信速率很低。在这一时代，我们移动通信行业几乎处于空白阶段，直到 <code>1987</code>年<code>11</code>月，广东才开通了全国第一个移动通信网，而中国大陆市场上才第一次有了砖头大小的移动通话终端，又名“大哥大”。直到<code>2001</code>年中移动在全国启动了模拟网转网，才正式关闭了<code>1G</code>模拟移动电话网。</p>
								<p>随后到了快<code>2007</code>年，我们才开启了全新的 <code>2G</code>数字通信时代。那这样就会有人问：从<code>1987</code>年的<code>1G</code>序幕拉开到<code>2007</code>年<code>2G</code>时代的开启，中间足足隔了20年呢？产品难道都没迭代吗？那是因为<code>1G</code>和<code>2G</code>之间还有各种各样的过渡产品和阶段，包括但不限于<code>1998</code>年前后的寻呼机、<code>2002</code>年前后的<code>IC</code>电话 以及<code>2004</code>年前后的小灵通。</p>
								<p><code>2G</code>时代的通信协议主要分两种，分别是欧洲的<code>GSM</code>和美国<code>CMDA</code>，而通信速率大概为几十<code>kbps</code>的样子。因此<code>2G</code>时代也仅仅是欧、美在争霸而已。当然这一时代的中国，也开始了追随世界潮流的步伐。</p>
								<p>值得一提的是，这一时代最为知名的通信巨头莫过于欧洲起家的诺基亚和爱立信。仅仅用了十年，诺基亚就成为了全球最大通信设备商。不知大家还记得与否，当年几乎大街小巷但凡有手机的，几乎都是诺基亚手机…</p>
								<hr>
								<h2 id="三足鼎立【3G时代】"><a href="#三足鼎立【3G时代】" class="headerlink" title="三足鼎立【3G时代】"></a>三足鼎立【3G时代】</h2>
								<p><code>3G</code>是指第三代移动通信技术，相对第一代<code>1G</code>模拟通信和第二代<code>2G</code>数字通信，第三代则拥有更稳定、更快速的传输，并且服务的多样化开始逐步呈现，<code>3G</code>时代能“比较”快速地传输图像、音乐，但主要还是<strong>图片时代</strong>，速度其实并不快，速率在<code>144Kbps-2Mbps</code>之间。</p>
								<p><code>3G</code>时代欧、美、中三方斗法，大家注意到没，中国逐渐开始参与到标准制定里来，并获得突破。欧洲的<code>WCDMA</code>、美国的<code>CDMA 2000</code>、中国的<code>TD-SCDMA</code>，成为<code>3G</code>的三种主要制式。当然 <code>3G</code>时代最主要的技术当属高通持有技术专利的<code>CDMA</code>，<code>CDMA</code>以其系统容量大、频率利用率高、抗干扰能力强以及软容量、软切换等特点显示出巨大的优势。 </p>
								<p><code>2008</code>年底我们国家开始颁发 <code>3G</code>牌照，但直到 <code>2010</code>年前后 <code>3G</code>终端才算比较普及。而那时候我们也就是利用手机聊QQ，发发文字和图片而已。还记得那时候我读本科，大家都用着诺基亚<code>N</code>系列的滑盖手机，当然此时安卓手机也逐渐兴起了，比如摩托罗拉的Defy手机。那时候最高端的<code>3G</code>手机应该当属<code>2009</code>年苹果发布的 <code>iPhone 3GS</code>。</p>
								<p>当然在<code>3G</code>时代，中国通信行业也开始迎来突破。三大运行商都开始发力，<code>2009</code>年中国发了三张<code>3G</code>牌照，分别是中国移动的<code>TD-SCDMA</code>，中国联通的<code>W-CDMA</code>以及中国电信的<code>CDMA 2000</code>，其中拿到了最好牌照（<code>WCDMA</code>在<code>3G</code>时代应用最为广泛）的联通，也在<code>3G</code>时代有一举超越移动之势。</p>
								<hr>
								<h2 id="并行追赶【4G时代】"><a href="#并行追赶【4G时代】" class="headerlink" title="并行追赶【4G时代】"></a>并行追赶【4G时代】</h2>
								<blockquote>
									<p>这也是中国通信业和设备商实现和国外平起平坐，并行的状态</p>
								</blockquote>
								<p><code>2014</code>年开始迈入<code>4G</code>时代，<code>4G</code>时代被<code>LTE</code>一统江湖。<code>4G</code>时代得益于中国市场规模之大，三大运营商（移动、联通、电信）大力推进，打造了全世界最大规模的<code>4G网络</code>。而且<code>4G</code>的推行速度是非常快的，普及度也算很高，还没等我们经过漫长的期待与酝酿，手里就已经用上了<code>4G</code>的设备和终端。</p>
								<p>当然除了<code>4G</code>，后来还有一个<code>4G+</code>，<code>4G+</code>是新一代的<code>4G</code>网，可以说是升级版的<code>4G</code>网，网速峰值提高了很多，<code>4G+</code>的下行峰值为<code>300Mbps</code>，上行峰值也能够达到<code>50Mbps</code>。<code>4G+</code>是我们现在正处于的主流阶段，我们的主流手机正是支持<code>4G+</code>的版本。</p>
								<hr>
								<h2 id="领跑时代【5G来了】"><a href="#领跑时代【5G来了】" class="headerlink" title="领跑时代【5G来了】"></a>领跑时代【5G来了】</h2>
								<p>从<code>2018</code>年开始，由<strong>人工智能</strong>、<strong>虚拟现实</strong>、<strong>大视频</strong>、<strong>物联网</strong>等等一系列关键词所打造的<strong>万物互联时代</strong>的序幕基本算是拉开了，中兴、华为在好几个实验局都打造并外场试验通过了好几张<code>5G</code>网络，并且<code>5G</code>终端也陆续亮相了（尽管<code>5G</code>终端的价格也到了平均<code>5</code>位数的水平）。这时不禁想起了网上的一个调侃的段子：“啊，<code>5G</code>时代，一晚上忘了关手机网络是不是都会破产”，这也从侧面形象地说明了<code>5G</code>通信的高速，相较于<code>4G</code>通信，有很多倍的速率提升。</p>
								<p>提到<code>5G</code>，中兴和华为还是非常有竞争力的，也是可以和外界正面PK并领跑世界的两大中国设备商，非常地争气。</p>
								<p>所以总结这三十多年来中国通信业的发展，我们经历了<strong>1G空白、2G跟随、3G突破、4G并行，5G领跑</strong>的辉煌之路。还是非常了不起和值得骄傲的！</p>
								<hr>
								<h2 id="通信行业的特点"><a href="#通信行业的特点" class="headerlink" title="通信行业的特点"></a>通信行业的特点</h2>
								<p>大家一听到华为、中兴就想到手机，每次有新闻，看大家都高呼支持华为就买华为手机。应该说手机真的只是中兴、华为业务的一个方面而已，充其量也只能算是终端业务里很小的一个部分，而且这还仅仅是对普通消费者展开的业务。比起手机，华为和中兴还有很多非常庞大的业务体系，各种对企业客户，对运营商客户等提供的服务和解决方案也是不胜枚举，各种：<strong>接入网、承载网、核心网、光通信、多媒体、云计算、虚拟化</strong>、甚至还涉及<strong>能源等特殊行业</strong>的一系列产品和服务。</p>
								<p>另外通信设备和产品其实是一个高度综合的集成体，涉及到一整个很长很长的产业链。包括华为中兴这些公司他们也没有办法避开长长的产业链和对各方外界的依赖，这必定是一个全球化合作才能持续共赢的局面。<strong>特斯拉</strong>的创新令人惊艳，但一直以来像Model系列的很多车型产能都不足，为啥呢，对别人有依赖呗；<strong>三星帝国</strong>强大无比，但是如果没有<code>ARM</code>的授权，可能某些芯片制造也会受到影响；就算是如日中天的<strong>苹果公司</strong>，其优势也是集中在操作系统、生态链和整机产品的设计之上，去掉某些合作伙伴估计业务也会因此受阻。这种全球化合作才能持续发展的栗子实在太多，一举便是。</p>
								<p>像以前中兴的那个事情，在那里东扯西扯的人估计都是不专业、甚至是根本就没有从事过通信行业的人。毕竟任何一家高科技企业都是无法做到上下游链路全覆盖的，因此还是要客观和公正地来看待这个事情。</p>
								<hr>
								<h2 id="通信行业新人入行建议"><a href="#通信行业新人入行建议" class="headerlink" title="通信行业新人入行建议"></a>通信行业新人入行建议</h2>
								<p>很多人通过公众号私信和我交流时会问：通信行业到底怎么样呢？是不是夕阳产业？我都签约中兴或者华为了，该不该去，有点怕后悔等等之类的问题。我是这样觉得，通信行业只是那种爆发式的增长期已经过去，但绝对不是什么夕阳产业，最起码眼前的<code>5G</code>就很有搞头。大家想的真是太多了。</p>
								<p>另外从整个通信行业的发展来看，华为和中兴在激烈的国内外竞争环境下的表现是有目共睹的，而且<strong>华为和中兴也是全球为数不多的两家可以提供 “端到端” 解决方案的公司</strong>。再放眼国际，像贝尔、北电、阿尔卡特、朗讯、摩托罗拉、西门子等等这一系列巨头，现在又在哪里呢。从全球范围来看，也就剩下华为、诺基亚、爱立信、中兴这几家巨头型的通信行业跨国公司了。</p>
								<p>另外通信公司技术深耕得还是很不错的，肯定可以学到东西，不论是业务上的，还是技术上的，亦或是标准化的流程和规范方面的东西。就算再不济，华为和中兴也是非常优秀的跳板嘛不是。大家如果已经做了选择，不用多想，好好努力，肯定会有自己的一片天！</p>
<span>本文非原创，文章转自<a href="https://www.codesheep.cn/2019/05/25/communication-analysis/">//www.codesheep.cn/2019/05/25/communication-analysis/</a></span>

								</pre>

</div>
{% endblock %}