
<!doctype html>

<!--[if gt IE 8]><!-->
<html lang="en-US">
	<!--<![endif]-->

	<head>
		<!-- META TAGS -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sdwzcs博客</title>
        <link rel="stylesheet" href="../static/css/Newboke.css" />
	</head>

	<body>
		<!-- Start of Header -->
			<div id="header1">
			<div class="nav1">
				<a href="#" class="logo">
					<font color="#A6E1EC"> Sdwzcs
					</font>

				</a>
				<div id="btn" class="btn">
					<a href="#"><img src="../static/img/a222.png" style="margin: 5px;width: 30px;height:30px;" /></a>
				</div>
				<ul class="nav-bar1" style="float: left">
					<li class="nav3" style="padding-left: 50px;">
						<a href="/"><font color="#A6E1EC">首页</font></a>
					</li>
					<li>
						<a href="/formula"><font color="#A6E1EC">论坛</font></a>
					</li>
					<li>
						<a href="/onlinejudge"><font color="#A6E1EC">题库</font></a>
					</li>
                    <li>
						<a href="/blog"><font color="#A6E1EC">博客</font></a>
                    </li>
                </ul>

                <ul class="nav-bar3" style="float:right;padding: 0 10px;list-style: none;line-height: 50px;"}>
                    
                        <li style="float: right;padding: 0 10px;">
                            <a href="/login"><font color="#A6E1EC">登录</font></a>
                        </li>
                        <li style="float: right;padding: 0 10px;">
                            <a href="/register"><font color="#A6E1EC">注册</font></a>
                        </li>
                    
				</ul>
			</div>
		</div>
		<!-- End of Header -->

		<!-- Start of Search Wrapper -->
		<div class="search-area-wrapper">
			<div class="search-area container">
				<h3 class="search-header">有问题就来搜索吧</h3>
				<p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>
				<!--问题搜索
	作者：offline
	时间：2019-07-16
	描述：
-->
				<form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
					<input class="search-term required" type="text" id="s" name="s" placeholder="Type your search terms here" title="* Please enter a search term!" />
					<input class="search-btn" type="submit" value="Search" />
					<div id="search-error-container"></div>
				</form>
			</div>
		</div>
		<!-- End of Search Wrapper -->

		<!-- Start of Page Container -->
		<div class="page-container">
			<div class="container">
				<div class="row">

					<!-- start of page content -->
					<div class="span8 main-listing">
						<div class="article1" style="  border:1px solid #ffcc00;background:#fffff7 ">
							<article class="format-standard type-post hentry clearfix">

								<header class="clearfix">
									<h3 class="post-title"><a href="/blog/art6">聊聊中国的通信行业：从“七国八制”到“中华”脊梁</a></h3>
									<div class="post-meta clearfix">
										<span class="date">25 Feb, 2013</span>
										<span class="category">技术漫谈</span>
										<span class="comments">通信</span>
										<span class="like-count">66</span>
									</div>
									<!-- end of post meta -->

								</header>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/blog/art6">本期文章和大家一起来聊一聊我曾经从事过的通信行业吧。最近各方面信息的泛滥，包括和华为的同学聊天，自己确实也感慨颇多。想想我自己本科主修通信工程，研究生再修信息与通信工程，从本科开始就学过通信方面的历史和专业课程，后来校招去通信公司后也接受了一些通信方面的文化和情怀的熏陶.......Readmore</a></p>
							</article>
						</div>
						<br />
						<div class="article2" style="   border:1px solid #ffcc00;background:#fffff7">
							<article class="format-standard type-post hentry clearfix">

								<header class="clearfix">
									<h3 class="post-title"><a href="/blog/art1">杂谈：我为什么开始写博客，我又不是什么大犇？</a></h3>
									<div class="post-meta clearfix">
										<span class="date">25 Feb, 2013</span>
										<span class="category"><a href="#" title="View all posts in Advanced Techniques">Advanced Techniques</a></span>
										<span class="comments"><a href="#" title="Comment on Using Javascript">0 Comments</a></span>
										<span class="like-count">18</span>
									</div>
									<!-- end of post meta -->

								</header>
								<p>
									<a class="readmore-link" href="/blog/art1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;写博客只是自己学习总结的一种方式
首先我很多遇见的问题都是在很多博客中找到解决方案的，我想我在学习路上积累的东西也可以做个总结，我写的博客很多就是自己的学习总结，方便以后自己查阅。刚开始并没有给别人看的意思，写的很随意，自己看得懂就行。但渐渐的发现我写的东西有人评论了，访问量多了一点，我就觉得还是有人认真.....</a>
								</p>
							</article>
						</div>
						<br />
						<div class="article2" style="   border:1px solid #ffcc00;background:#fffff7">
							<article class=" type-post format-image hentry clearfix">

								<header class="clearfix">
									<h3 class="post-title"> <a href="/blog/art2">OJ中Java常用的输入输出小结</a></h3>
									<div class="post-meta clearfix">
										<span class="date">25 Feb, 2015</span>
										<span class="category"><a href="#" title="View all posts in Designing in WordPress">Designing in WordPress</a></span>
										<span class="comments"><a href="#" title="Comment on Using Images">0 Comments</a></span>
										<span class="like-count">7</span>
									</div>
									<!-- end of post meta -->

								</header>

								<a href="#" title="Using Images"><img width="400" height="400" src="" class="attachment-std-thumbnail wp-post-image" alt=""></a>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="readmore-link" href="/blog/art2">基于Java11的测试,由于电脑性能的差异，测试使用的是jdk自带的javac/java编译和运行，但是由于磁盘的IO操作比较费时，数据不准确，参考了网上的测试结果，新手整理错误难免，希望大家多多指教......
									Read more</a>
								
                                                         
								</p>
							</article>
						</div>
						<br />
						<div class="article2" style="   border:1px solid #ffcc00;background:#fffff7">
							<article class="type-post  format-video hentry clearfix">

								<header class="clearfix">
									<h3 class="post-title"> <a href="/blog/art3">刷题中一些常用的C++语法</a></h3>
									<div class="post-meta clearfix">
										<span class="date">24 Feb, 2013</span>
										<span class="category"><a href="#" title="View all posts in WordPress Plugins">WordPress Plugins</a></span>

										<span class="comments"><a href="#" title="Comment on Using Video">0 Comments</a></span>

										<span class="like-count">7</span>
									</div>
									<!-- end of post meta -->

								</header>
								<div class="post-video"> </div>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/blog/art3">这是我在刷题过程遇到的一些语法技巧，把他记下来.</a></p>
							</article>
						</div>
						<br />
						<div class="article2" style="   border:1px solid #ffcc00;background:#fffff7">
							<article class=" type-post  format-standard hentry clearfix">

								<header class="clearfix">
									<h3 class="post-title"> <a href="/blog/art4">最短路笔记 Dijkstra堆优化版</a></h3>
									<div class="post-meta clearfix">
										<span class="date">24 Feb, 2013</span>
										<span class="category"><a href="#" title="View all posts in Website Dev">Website Dev</a></span>

										<span class="comments"><a href="#" title="Comment on WordPress Site Maintenance">0 Comments</a></span>

										<span class="like-count">15</span>
									</div>
									<!-- end of post meta -->

								</header>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/blog/art4">以用堆优化Dijkstra算法，原因如下：
①堆可以动态维护一个集合中的最小值。
②堆动态支持插入、删除、改变一个数。
时间复杂度：O(m log n)</a></p>
							</article>
						</div>
						<br /><br />
						<div id="pagination">
							<a href="#" class="btn active">1</a>
							<a href="#" class="btn">2</a>
							<a href="#" class="btn">3</a>
							<a href="#" class="btn">Next »</a>
							<a href="#" class="btn">Last »</a>
						</div>

					</div>
					<!-- end of page content -->

					<!-- start of sidebar -->
					<aside class="span4 page-sidebar">
						<section class="widget">
							<div class="support-widget">
								<h3 class="title">Support</h3>
								<p class="intro">如果没有找到你想要的内容，请联系我们，工作QQ：2262232544,</p>
							</div>
						</section>

						<section class="widget" style="border:1px solid #ffcc00;background:#fffff7">
							<h3 class="title">&nbsp;&nbsp;精选文章</h3>
							<ul class="articles">
								<li class="article-entry standard">
									<h4><a href="art7.html">精选-30个学习大数据挖掘的重要知识点！</a></h4>
									<span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Server &amp; Database"></a></span>
									<span class="like-count">66</span>
								</li>
								<li class="article-entry standard">
									<h4><a href="art5.html">精选-求解斐波那契数列问题的方法</a></h4>
									<span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
									<span class="like-count">15</span>
								</li>
								<li class="article-entry video">
									<h4><a href="single.html">精选三</a></h4>
									<span class="article-meta">23 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
									<span class="like-count">8</span>
								</li>
								<li class="article-entry image">
									<h4><a href="single.html">精选四</a>&nbsp;</h4>
									<span class="article-meta">22 Feb, 2013 in <a href="#" title="View all posts in Advanced Techniques">Advanced Techniques</a></span>
									<span class="like-count">6</span>
								</li>
							</ul>
						</section>
<br />
						<section class="widget" style="border:1px solid #ffcc00;background:#fffff7">
							<h3 class="title">&nbsp;&nbsp;热门博客</h3>
							<ul>
								<li>
									<a href="#" title="Lorem ipsum dolor sit amet,">热门1</a>
								</li>
								<li>
									<a href="#" title="Lorem ipsum dolor sit amet,">热门2</a>
								</li>
								<li>
									<a href="#" title="Lorem ipsum dolor sit amet,">热门3</a>
								</li>
								<li>
									<a href="#" title="Lorem ipsum dolor sit amet,">热门4</a>
								</li>
							</ul>
						</section>
<br />
						<section class="widget" style="border:1px solid #ffcc00;background:#fffff7 ">
							<h3 class="title">&nbsp;&nbsp;精选推荐</h3>
							<ul id="recentcomments">
								<li class="recentcomments">
									<a href="#" rel="external nofollow" class="url">精选1</a>
								</li>
								<li class="recentcomments">
									<a href="#" rel="external nofollow" class="url">精选2</li>
								<li class="recentcomments">
									<a href="#" rel="external nofollow" class="url">精选3</a>
								</li>
								<li class="recentcomments">
									<a href="#" rel="external nofollow" class="url">精选4</a>
								</li>
							</ul>
						</section>

					</aside>
					<!-- end of sidebar -->
				</div>
			</div>
		</div>
		<!-- End of Page Container -->

		

			<!-- Footer Bottom -->
			<div id="footer-bottom-wrapper">
				<div id="footer-bottom" class="container">
					<div class="row">
						<div class="span6">
							<p class="copyright"> Copyright © 2019&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Sdwzcs</p>
						</div>
						<div class="span6">
							<!-- Social Navigation -->
							<ul class="social-nav clearfix">
								<li class="linkedin">
									<a target="_blank" href="#"></a>
								</li>
								<li class="stumble">
									<a target="_blank" href="#"></a>
								</li>
								<li class="google">
									<a target="_blank" href="#"></a>
								</li>
								<li class="deviantart">
									<a target="_blank" href="#"></a>
								</li>
								<li class="flickr">
									<a target="_blank" href="#"></a>
								</li>
								<li class="skype">
									<a target="_blank" href="skype:#?call"></a>
								</li>
								<li class="rss">
									<a target="_blank" href="#"></a>
								</li>
								<li class="twitter">
									<a target="_blank" href="#"></a>
								</li>
								<li class="facebook">
									<a target="_blank" href="#"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Footer Bottom -->

		</footer>
		<!-- End of Footer -->

		<a href="#top" id="scroll-top"></a>



	</body>

</html>