{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="../static/css/detail_question.css">
    <link rel="stylesheet" href="../static/css/formula.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">


    <!-- 引入配置文件 -->
    <script src="/static/ueditor/ueditor.config.js"}></script>
    <!-- 引入编辑器源码文件 -->
    <script src="/static/ueditor/ueditor.all.min.js"}></script>



{% endblock %}
{% block content %}
<div class="detail_content">
   <ul class="detail_ul">
       <li class="title_li">
           <h1>{{ title }}</h1>
       </li>
       {% if question_inf %}
            {% for it in question_inf[(page-1)*20:page*20] %}
                <li class="answer_li">
                   <div class="answer_div">
                       <div class="content_div">
                           {{ it[2]|safe }}
                       </div>
                       <div class="author_div">
                            <span>{{ it[1] }}楼</span>&emsp;<span>发布人：{{ it[4] }}</span>&emsp;<span>发布时间：{{ it[3] }}</span>&emsp;
                       </div>
                   </div>
               </li>

            {% endfor %}
       {% endif %}
   </ul>
    <div id="pagination">
        <nav aria-label="Page navigation">
              <ul class="pagination">
                    <li>
                      <a href="{{ url_for('detail_question',page = page-1,formula_id=formula_id) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    {% for item in range(page_num) %}
                        <li class="{% if page == item + 1 %}
                                        active
                                    {% endif %}
                                   "><a href="{{ url_for('detail_question',page = item + 1,formula_id=formula_id) }}">{{ item + 1 }}</a></li>
                    {% endfor %}
                    <li>
                      <a href="{{ url_for('detail_question',page = page + 1,formula_id = formula_id) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
              </ul>
        </nav>
    </div>
    <br><br>
    <form method="post">

{#        <div>#}
{#            <textarea class="huifu" name="content"></textarea>#}
{#        </div>#}
{#        <div class="form-group" id="issue_titile_div">#}
{#            <input type="text" class="form-control" name="title" id="inputEmail3" placeholder="请输入标题">#}
{#        </div>#}
        <div class="ueditor_div">
            <script id="editor" type="text/plain">
            请输入发布的内容!
            </script>
        </div>
        <div class="form_butt">
            <br>
            <input type="submit" id="butt" value="发布评论">
        </div>
    </form>
</div>
    <!-- 实例化编辑器 -->
<script type="text/javascript">
    var editor = UE.getEditor('editor');
</script>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
{% endblock %}