{% extends 'base.html' %}

{% block title %}
在线Markdown编辑器
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/post_question_md.css">
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/editor.md-master/css/editormd.css" />
    <form method="post">
        <div class="form-group" id="question_titile_div">
            <input type="text" class="form-control" name="title" id="inputEmail3" placeholder="请输入标题">
        </div>
        <div id="test-editor">
            <textarea class="editormd-markdown-textarea" name="editormd-markdown-textarea-doc" style="display:none;"></textarea>
            <textarea class="editormd-html-textarea" name="html_content" id="htmlContent" ></textarea>
        </div>
    </form>

    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/editor.md-master/editormd.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var editor = editormd("test-editor", {
                // width  : "100%",
                height : "700px",
                path   : "/static/editor.md-master/lib/"
            });
        });
    </script>
{% endblock %}