{% extends 'base.html' %}
{% block css %}
		<link rel="stylesheet" href="../static/css/ps.css">
		<link rel="stylesheet" href="../static/css/boke.css" />
        <link rel="stylesheet" href="../static/css/f1.css" />{% endblock %}
{% block content %}
    <ul class="a">
			<li id="b">
				<div class="container">
					<table class="table table-hover">
						<tbody>
							<tr>
								<td>
									<a href="#">个人资料</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#">我的收藏</a>
								</td>

							</tr>
							<tr>
								<td>
									<a href="#">我的关注</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#">我的博客</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#">我的粉丝</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>
<li id="c">
				<form>
					<fieldset align="center">
						<legend align="center">&nbsp;  </legend>
						<br />
						<h1 align="left">&nbsp;&nbsp;&nbsp;我的关注<h4 align="right">关注人数：5</h4></h1>
						<br />
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>
										<a href="#">关注人1</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="#">关注人2</a>
									</td>

								</tr>
								<tr>
									<td>
										<a href="#">关注人3</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="#">关注人4</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="#">关注人5</a>
									</td>
								</tr>
							</tbody>
						</table>
                    </fieldset>
                </form>
            </li>
		</ul>
{% endblock %}